# HW3

### Submitted by Sapna Maheshwari

### due on 2/8/2017 at 11:59 pm

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>You use for loops (unless explicitly permitted)</li>
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from this term's student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [250]:
import pandas as pd
df = pd.read_csv("cleaned_survey.csv", index_col=0)

In [251]:
df.head()

,Job,BachTime,Program,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering
0,0.0,1,MSIS,1,1,0,1,1.0,1.0,0.0,1,0.0,1,0,1.0,4,4
1,0.5,3,MSIS,1,1,0,1,0.0,0.0,0.0,1,0.0,1,0,0.0,2,2
2,0.0,2,MSIS,0,0,0,1,1.0,0.0,0.0,1,0.0,1,0,1.0,3,3
3,0.0,3,MSIS,1,0,0,1,1.0,0.0,1.0,1,0.0,1,0,1.0,2,3
4,0.0,2,MSIS,1,0,0,1,1.0,0.0,0.0,1,0.0,1,0,0.0,1,1

### Attribute description

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>BachTime</b>: Time elapsed from graduation (0: less than a year, 1: 1-3 year, 2: 3-5 years, 3: 5+ years)
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
</ul>

### Question 1

How many students have no job?

In [252]:
len(df[df.Job == 0.0])

14

### Question 2

Among those who know Python, what's the proportion (0 to 1) of students who also know  C?

In [253]:
len(df[df.Python > 0])

11

In [254]:
len(df[df.C > 0])

19

In [255]:
len(df[(df.Python > 0) & (df.C > 0)])

7

In [256]:
float(len(df[(df.Python > 0) & (df.C > 0)]))/len(df[df.Python > 0])

0.6363636363636364

### Question 3

What's the average knowledge in "classification" of those MSIS students that know C?

In [257]:
ms = df[df.Program == 'MSIS']

In [258]:
(ms[ms.C > 0]).Classification.mean()

1.7857142857142858

### Question 4

Let us define the "machine learning experience" of a given student as the student's larger score between Classification and Clustering. Compute the average machine learning experience among the MBA students.

In [259]:
df["machine_learning"] = df[['Classification','Clustering']].max(axis = 1)

In [260]:
mba = df[df.Program == 'MBA'].machine_learning.mean()
mba

1.8888888888888888

### Question 5

Among those students with classification knowledge of at least 3, find the "best one", that is, the student who knows C best (in case of ties, consider CPP, then CS, then Java, then Python)

In [261]:
mask = df[df.Classification >= 3]
mask

,Job,BachTime,Program,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,machine_learning
0,0.0,1,MSIS,1,1,0,1,1.0,1.0,0.0,1,0.0,1,0,1.0,4,4,4
2,0.0,2,MSIS,0,0,0,1,1.0,0.0,0.0,1,0.0,1,0,1.0,3,3,3
13,0.0,0,Supply Chain Mgmt & Analytics,1,1,0,0,0.0,0.0,0.0,1,0.0,1,0,1.0,3,1,3
16,1.0,3,Faculty!,1,0,0,0,0.0,0.0,0.0,1,1.0,1,0,1.0,5,5,5
17,1.0,3,MBA,0,0,0,0,1.0,NaN,1.0,1,NaN,1,0,1.0,4,4,4
20,0.5,1,MSIS,0,0,0,1,0.0,0.0,0.0,1,0.0,1,1,0.0,3,2,3

In [262]:
mask.sort_values(by =['C','CPP','CS','Java','Python'], ascending = [False,False,False,False,False])

,Job,BachTime,Program,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,machine_learning
0,0.0,1,MSIS,1,1,0,1,1.0,1.0,0.0,1,0.0,1,0,1.0,4,4,4
13,0.0,0,Supply Chain Mgmt & Analytics,1,1,0,0,0.0,0.0,0.0,1,0.0,1,0,1.0,3,1,3
16,1.0,3,Faculty!,1,0,0,0,0.0,0.0,0.0,1,1.0,1,0,1.0,5,5,5
2,0.0,2,MSIS,0,0,0,1,1.0,0.0,0.0,1,0.0,1,0,1.0,3,3,3
20,0.5,1,MSIS,0,0,0,1,0.0,0.0,0.0,1,0.0,1,1,0.0,3,2,3
17,1.0,3,MBA,0,0,0,0,1.0,NaN,1.0,1,NaN,1,0,1.0,4,4,4

### Question 6

<p>Write a hard exercise (with solution) on this data set. Your exercise will be made available on Camino to the rest of the class.  </p>
<p>The goal is to help fellow students to prepare for the midterm; so, try to make the exercise useful.  The text of your exercise should be as clear as possible and as short as possible.  Avoid creating exercises that are too trivial. </p>
<p>My intention is to give everyone full marks on this question; the only way not to get full marks are the following:
<ul>
<li>You do not perform this task
<li>You do not include a solution 
</ul>
</p>
<p>If the solution you provide is incorrect, you will still receive full marks. But you must make an honest effort to get it right.
</p>

Find out the difference between the mean of programming skills of the students with no job and part-time job and explain why the mean is negative or positive?

In [263]:
mean = df[df.Job == 0.0].ix[:,3:14].sum(axis =1).mean(axis=0) - df[df.Job == 0.5].ix[:,3:14].sum(axis =1).mean(axis=0)
mean

-0.62698412698412653

The negative mean can either mean that there are less students who are doing part-time jobs than the students with no jobs or part time jobs students are more skilled than the students with no job.