# Series: Recap and Practice

In [1]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

Let's make a Series of hw1 scores. The <b>index</b> is the student name and the <b>value</b> is the score in hw1.

In [3]:
hw1Data = {'Dorian':10, 
                'Jeannine':6, 
                'Iluminada':2, 
                'Luci':7, 
                'Jenny':8, 
                'Demetria':2, 
                'Michael':6, 
                'Garland':9, 
                'Shelby':1, 
                'Mercy':5}

In [4]:
hw1 = pd.Series(hw1Data,name='HW1',index=['Dorian', 
                                                    'Jeannine',
                                                    'Iluminada',
                                                    'Luci',
                                                    'Jenny',
                                                    'Demetria',
                                                    'Michael',
                                                    'Garland',
                                                    'Shelby',
                                                    'Mercy'])

In [5]:
hw1

Dorian       10
Jeannine      6
Iluminada     2
Luci          7
Jenny         8
Demetria      2
Michael       6
Garland       9
Shelby        1
Mercy         5
Name: HW1, dtype: int64

## index and values

Return the index as an Index object and the values as ndarray

In [6]:
hw1.index

Index([u'Dorian', u'Jeannine', u'Iluminada', u'Luci', u'Jenny', u'Demetria',
       u'Michael', u'Garland', u'Shelby', u'Mercy'],
      dtype='object')

In [7]:
hw1.values

array([10,  6,  2,  7,  8,  2,  6,  9,  1,  5], dtype=int64)

## iloc

Selects rows using the visualization index (using an integer, a slice, a Boolean selection).

In [8]:
hw1.iloc[3]

7

In [9]:
hw1.iloc[2:6]

Iluminada    2
Luci         7
Jenny        8
Demetria     2
Name: HW1, dtype: int64

In [10]:
hw1.iloc[[True,False,True,True,False,True,True,False,True,False]]

Dorian       10
Iluminada     2
Luci          7
Demetria      2
Michael       6
Shelby        1
Name: HW1, dtype: int64

## Selecting rows that satisfy a condition

The binary operators >,<,>=,<=,==,!= can be used to select the elements whose value satisfy a certain condition

In [11]:
hw1 >= 6

Dorian        True
Jeannine      True
Iluminada    False
Luci          True
Jenny         True
Demetria     False
Michael       True
Garland       True
Shelby       False
Mercy        False
Name: HW1, dtype: bool

## s[...]

Selects rows using the index.

In [12]:
hw1['Luci']

7

In [13]:
hw1['Luci':'Michael']

Luci        7
Jenny       8
Demetria    2
Michael     6
Name: HW1, dtype: int64

In [14]:
hw1[hw1 >= 6]

Dorian      10
Jeannine     6
Luci         7
Jenny        8
Michael      6
Garland      9
Name: HW1, dtype: int64

## problems

What is Michael's hw1 score?

In [16]:
hw1['Michael']

6

Select those students whose hw1 score is less than 5 or greater than 9

In [23]:
#hw1
hw1[(hw1 < 5) | (hw1 > 9)]

Dorian       10
Iluminada     2
Demetria      2
Shelby        1
Name: HW1, dtype: int64

Without using tail, select the "last" student of the Series (i.e., the one reported last). Make sure to retrieve both the name and the grade.

In [28]:
hw1.iloc[[len(hw1)-1]]

Mercy    5
Name: HW1, dtype: int64

In [29]:
hw1.iloc[len(hw1)-1:]

Mercy    5
Name: HW1, dtype: int64

In [35]:
hw1[hw1.index[len(hw1)-1] == hw1.index]

Mercy    5
Name: HW1, dtype: int64

In [40]:
hw1[[9]]

Mercy    5
Name: HW1, dtype: int64

In [43]:
hw1[-1:]

Mercy    5
Name: HW1, dtype: int64

## rank

Ranks each row based on the value

In [44]:
hw1.rank()

Dorian       10.0
Jeannine      5.5
Iluminada     2.5
Luci          7.0
Jenny         8.0
Demetria      2.5
Michael       5.5
Garland       9.0
Shelby        1.0
Mercy         4.0
Name: HW1, dtype: float64

## idmax and idmin

Find the index of the row with maximum and minimum values

In [45]:
hw1.idxmax()

'Dorian'

In [46]:
hw1.idxmin()

'Shelby'

## sort_values

Sort by values

In [47]:
hw1.sort_values()

Shelby        1
Iluminada     2
Demetria      2
Mercy         5
Jeannine      6
Michael       6
Luci          7
Jenny         8
Garland       9
Dorian       10
Name: HW1, dtype: int64

## sort_index

Sort by index

In [48]:
hw1.sort_index()

Demetria      2
Dorian       10
Garland       9
Iluminada     2
Jeannine      6
Jenny         8
Luci          7
Mercy         5
Michael       6
Shelby        1
Name: HW1, dtype: int64

## nlargest and nsmallest

Finds the n items with largest or smallest value

In [49]:
hw1.nlargest(3)

Dorian     10
Garland     9
Jenny       8
Name: HW1, dtype: int64

In [50]:
hw1.nsmallest(3)

Shelby       1
Iluminada    2
Demetria     2
Name: HW1, dtype: int64

## head and tail

Returns the first (or last) rows according to the visualization index

In [51]:
hw1.head(3)

Dorian       10
Jeannine      6
Iluminada     2
Name: HW1, dtype: int64

In [52]:
hw1.tail(3)

Garland    9
Shelby     1
Mercy      5
Name: HW1, dtype: int64

## problems

Explore the parameters of the method "rank" to solve this question. Find the rank of each student (1=best, 10=worst) and break ties in the way that makes most sense to you.

In [57]:
hw1.rank(ascending=False,method='min')

Dorian        1.0
Jeannine      5.0
Iluminada     8.0
Luci          4.0
Jenny         3.0
Demetria      8.0
Michael       5.0
Garland       2.0
Shelby       10.0
Mercy         7.0
Name: HW1, dtype: float64

Who got the 4th highest grade?

In [70]:
hw1.sort_values(ascending=False).iloc[3:4]

Luci    7
Name: HW1, dtype: int64

In [71]:
hw1.nlargest(4).nsmallest(1)

Luci    7
Name: HW1, dtype: int64

Retrieve the row of  the person who comes last in alphabetical order.

In [74]:
hw1.sort_index()[-1:]

Shelby    1
Name: HW1, dtype: int64

In [77]:
hw1.sort_index().iloc[-1:]

Shelby    1
Name: HW1, dtype: int64

Among those whose name starts with ‘J’, who got the highest grade?

In [83]:
hw1[(hw1.index >= 'J') & (hw1.index < 'K')].nlargest(1)

Jenny    8
Name: HW1, dtype: int64

## Operations between a scalar and a Series

The operation is executed on all values

In [84]:
hw1 + 5

Dorian       15
Jeannine     11
Iluminada     7
Luci         12
Jenny        13
Demetria      7
Michael      11
Garland      14
Shelby        6
Mercy        10
Name: HW1, dtype: int64

## Aggregate functions

In [85]:
hw1.mean()

5.5999999999999996

In [86]:
hw1.min()

1

## Operations between two Series

The operation is executed between elements with the same index label

In [87]:
hw1

Dorian       10
Jeannine      6
Iluminada     2
Luci          7
Jenny         8
Demetria      2
Michael       6
Garland       9
Shelby        1
Mercy         5
Name: HW1, dtype: int64

In [88]:
hw2Data = {'Dorian':10, 
                'Luci':7, 
                'Jeannine':7, 
                'Mercy':6, 
                'Garland':1, 
                'Shelby':10, 
                'Michael':10, 
                'Demetria':4}

In [92]:
hw2 = pd.Series(hw2Data,name='HW2',index=['Dorian', 
                                                    'Luci',
                                                    'Jeannine',
                                                    'Mercy',
                                                    'Garland',
                                                    'Shelby',
                                                    'Michael',
                                                    'Demetria'])

In [93]:
hw2

Dorian      10
Luci         7
Jeannine     7
Mercy        6
Garland      1
Shelby      10
Michael     10
Demetria     4
Name: HW2, dtype: int64

In [91]:
(hw1 + hw2) / 2

Demetria      3.0
Dorian       10.0
Garland       5.0
Iluminada     NaN
Jeannine      6.5
Jenny         NaN
Luci          7.0
Mercy         5.5
Michael       8.0
Shelby        5.5
dtype: float64

## problems

The average grade of hw1 is too low. We want to normalize it  to 8. To this end, increase everyone’s grade so that the new average is 8. Note that some students’ grade might become greater than 10 – don’t worry about it.

In [100]:
newHW1 = hw1+8-hw1.mean()
newHW1

Dorian       12.4
Jeannine      8.4
Iluminada     4.4
Luci          9.4
Jenny        10.4
Demetria      4.4
Michael       8.4
Garland      11.4
Shelby        3.4
Mercy         7.4
Name: HW1, dtype: float64

Compute the average grade between hw1 and hw2. Which student has the average closest to 6.7?

In [105]:
((hw1 + hw2) / 2 - 6.7).abs().nsmallest(1)

Jeannine    0.2
dtype: float64