# DataFrame

In [11]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

## Create a DataFrame

### From a file

Place the data file in the same folder as the ipynb file. Then, read it as follows:

In [13]:
df = pd.read_csv("students.csv") # this code will try to find students.csv in the same folder as this .ipynb file

In [14]:
df

         Name   hw1   hw2 program
0    Demetria   2.0   4.0    MSIS
1      Dorian  10.0  10.0    MSIS
2     Garland   9.0   1.0    MSIS
3   Iluminada   2.0   NaN     MBA
4    Jeannine   6.0   7.0    MSIS
5       Jenny   8.0   NaN     NaN
6        John   NaN  10.0    MSIS
7        Luci   7.0   7.0    MSIS
8       Mercy   5.0   6.0    MSIS
9     Michael   6.0  10.0     MBA
10     Shelby   1.0  10.0    MSIS

By the default, the index is 0, 1, ... We want to say that the column "Name" is the index.

In [15]:
df.set_index("Name", inplace=True)

In [16]:
df

            hw1   hw2 program
Name
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

### Want to start working on the project?

<p>The project will require you to detect interesting findings in a data set. You can download a data set from <a href="https://www.data.gov/">data.gov</a> or from <a href="https://www.kaggle.com/">kaggle.com</a>.</p>
<p>Then, you can already start using the tools we learn here to explore it.</p>

### From a dictionary of dictionaries

In [17]:
hw1Score = {'Dorian':10, 
                'Jeannine':6, 
                'Iluminada':2, 
                'Luci':7, 
                'Jenny':8, 
                'Demetria':2, 
                'Michael':6, 
                'Garland':9, 
                'Shelby':1, 
                'Mercy':5}
program = {'Dorian':'MSIS', 
                'Jeannine':'MSIS', 
                'Iluminada':'MBA', 
                'Luci':'MSIS', 
                'Demetria':'MSIS', 
                'Michael':'MBA', 
                'John':'MSIS',
                'Garland':'MSIS', 
                'Shelby':'MSIS', 
                'Mercy':'MSIS'}
hw2Score = {'Dorian':10, 
                'Luci':7, 
                'Jeannine':7, 
                'Mercy':6, 
                'Garland':1,
                'John':10,
                'Shelby':10, 
                'Michael':10, 
                'Demetria':4}
df = pd.DataFrame(data= {'program' : program, 'hw1': hw1Score, 'hw2': hw2Score})

In [18]:
df

            hw1   hw2 program
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

## index, columns, values

<b>index</b> returns the index labels

In [19]:
df.index

Index([u'Demetria', u'Dorian', u'Garland', u'Iluminada', u'Jeannine', u'Jenny',
       u'John', u'Luci', u'Mercy', u'Michael', u'Shelby'],
      dtype='object')

In [20]:
df.index[2]

'Garland'

<b>columns</b> returns the list of column names (as an index object)

In [21]:
df.columns

Index([u'hw1', u'hw2', u'program'], dtype='object')

<b>values</b> returns a (2-dimensional) ndarray of values

In [22]:
df.values

array([[2.0, 4.0, 'MSIS'],
       [10.0, 10.0, 'MSIS'],
       [9.0, 1.0, 'MSIS'],
       [2.0, nan, 'MBA'],
       [6.0, 7.0, 'MSIS'],
       [8.0, nan, nan],
       [nan, 10.0, 'MSIS'],
       [7.0, 7.0, 'MSIS'],
       [5.0, 6.0, 'MSIS'],
       [6.0, 10.0, 'MBA'],
       [1.0, 10.0, 'MSIS']], dtype=object)

## df.ix[x, y]

Access using the index labels or the visualization indices. 
<ul>
<li><b>x</b> is the information needed to select the rows: label index, visualization index, range of index labels, range of integers, boolean masks</li>
<li><b>y (optional)</b> is the information needed to select the columns: label index, visualization index, range of index labels, range of integers, boolean masks</li>
</ul>

In [23]:
df

            hw1   hw2 program
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

Acccess one specific value

In [24]:
df.ix['Garland','hw2']

1.0

Access one row

In [25]:
df.ix[2,:]

hw1           9
hw2           1
program    MSIS
Name: Garland, dtype: object

In [26]:
df.ix['Garland']

hw1           9
hw2           1
program    MSIS
Name: Garland, dtype: object

In [27]:
df.ix['Garland',:]

hw1           9
hw2           1
program    MSIS
Name: Garland, dtype: object

In [28]:
df.ix['Garland',]

hw1           9
hw2           1
program    MSIS
Name: Garland, dtype: object

Access one column

In [29]:
df.ix[:,'hw1']

Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [30]:
df.ix[:,0]

Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [31]:
df.hw1

Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [32]:
df['hw1']

Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

Common mistake: get the whole row about Lucy

In [33]:
df['Luci']

KeyError: 'Luci'

In [ ]:
# the correct way
df.ix['Luci',:]

Access a subset of rows and of columns

In [34]:
df.ix[:5,-2:]

            hw2 program
Demetria    4.0    MSIS
Dorian     10.0    MSIS
Garland     1.0    MSIS
Iluminada   NaN     MBA
Jeannine    7.0    MSIS

Select those students whose name starts with 'J'

In [35]:
mask = (df.index >= 'J') & (df.index < 'K')
mask

array([False, False, False, False,  True,  True,  True, False, False,
       False, False], dtype=bool)

In [36]:
df.ix[mask,:]

          hw1   hw2 program
Jeannine  6.0   7.0    MSIS
Jenny     8.0   NaN     NaN
John      NaN  10.0    MSIS

## Problems

Retrieve Shelby's hw1 grade

In [37]:
df

            hw1   hw2 program
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

In [38]:
df.ix['Shelby','hw1']

1.0

Return Shelby's and Jenny's hw1 grade

In [39]:
df.ix[['Shelby','Jenny'],'hw1']

Shelby    1.0
Jenny     8.0
Name: hw1, dtype: float64

Retrieve Shelby's information

In [40]:
df.ix['Shelby',:]

hw1           1
hw2          10
program    MSIS
Name: Shelby, dtype: object

Who obtained the highest grade in hw2?

In [41]:
df.ix[:,'hw2']

Demetria      4.0
Dorian       10.0
Garland       1.0
Iluminada     NaN
Jeannine      7.0
Jenny         NaN
John         10.0
Luci          7.0
Mercy         6.0
Michael      10.0
Shelby       10.0
Name: hw2, dtype: float64

In [42]:
df.ix[:,'hw2'].nlargest(1)

Dorian    10.0
Name: hw2, dtype: float64

In [43]:
df.ix[:,'hw2'].idxmax()

'Dorian'

In [44]:
df.hw2.nlargest()

Dorian      10.0
John        10.0
Michael     10.0
Shelby      10.0
Jeannine     7.0
Name: hw2, dtype: float64

Because of the ties, we need to this:

In [45]:
# first, find the series of hw2 grades
df.hw2

Demetria      4.0
Dorian       10.0
Garland       1.0
Iluminada     NaN
Jeannine      7.0
Jenny         NaN
John         10.0
Luci          7.0
Mercy         6.0
Michael      10.0
Shelby       10.0
Name: hw2, dtype: float64

In [46]:
# second, rank them by value (descending), with method min
df.hw2.rank(ascending=False,method='min')

Demetria     8.0
Dorian       1.0
Garland      9.0
Iluminada    NaN
Jeannine     5.0
Jenny        NaN
John         1.0
Luci         5.0
Mercy        7.0
Michael      1.0
Shelby       1.0
Name: hw2, dtype: float64

In [47]:
# third, create a mask that selects whom is ranked first
mask = df.hw2.rank(ascending=False,method='min') == 1
mask

Demetria     False
Dorian        True
Garland      False
Iluminada    False
Jeannine     False
Jenny        False
John          True
Luci         False
Mercy        False
Michael       True
Shelby        True
Name: hw2, dtype: bool

In [48]:
# fourth, use the mask to select a subset of entries
df.hw2[mask]

Dorian     10.0
John       10.0
Michael    10.0
Shelby     10.0
Name: hw2, dtype: float64

In which program is the student who obtained the highest grade in hw2 enrolled? Don't worry about ties

In [49]:
df.hw2

Demetria      4.0
Dorian       10.0
Garland       1.0
Iluminada     NaN
Jeannine      7.0
Jenny         NaN
John         10.0
Luci          7.0
Mercy         6.0
Michael      10.0
Shelby       10.0
Name: hw2, dtype: float64

In [50]:
df.hw2.idxmax()

'Dorian'

In [51]:
df.ix[df.hw2.idxmax(),'program']

'MSIS'

Find those students who obtained the same score in hw1 and in hw2.

In [52]:
df.hw1

Demetria      2.0
Dorian       10.0
Garland       9.0
Iluminada     2.0
Jeannine      6.0
Jenny         8.0
John          NaN
Luci          7.0
Mercy         5.0
Michael       6.0
Shelby        1.0
Name: hw1, dtype: float64

In [53]:
df.hw2

Demetria      4.0
Dorian       10.0
Garland       1.0
Iluminada     NaN
Jeannine      7.0
Jenny         NaN
John         10.0
Luci          7.0
Mercy         6.0
Michael      10.0
Shelby       10.0
Name: hw2, dtype: float64

In [54]:
df.hw1 == df.hw2

Demetria     False
Dorian        True
Garland      False
Iluminada    False
Jeannine     False
Jenny        False
John         False
Luci          True
Mercy        False
Michael      False
Shelby       False
dtype: bool

In [55]:
df.ix[df.hw1 == df.hw2,:]

         hw1   hw2 program
Dorian  10.0  10.0    MSIS
Luci     7.0   7.0    MSIS

Find the average hw1 score of those students who got a hw2 score greater than 5.

In [56]:
df.hw2 > 5

Demetria     False
Dorian        True
Garland      False
Iluminada    False
Jeannine      True
Jenny        False
John          True
Luci          True
Mercy         True
Michael       True
Shelby        True
Name: hw2, dtype: bool

In [57]:
df.ix[df.hw2 > 5,'hw1']

Dorian      10.0
Jeannine     6.0
John         NaN
Luci         7.0
Mercy        5.0
Michael      6.0
Shelby       1.0
Name: hw1, dtype: float64

In [58]:
df.ix[df.hw2 > 5,'hw1'].mean()

5.833333333333333

## sort_values()

Sort the table based on the values of a set of columns (parameter <b>by</b>).

Sorting by one column

In [59]:
df.sort_values(by='hw1',ascending=False)

            hw1   hw2 program
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Jenny       8.0   NaN     NaN
Luci        7.0   7.0    MSIS
Jeannine    6.0   7.0    MSIS
Michael     6.0  10.0     MBA
Mercy       5.0   6.0    MSIS
Demetria    2.0   4.0    MSIS
Iluminada   2.0   NaN     MBA
Shelby      1.0  10.0    MSIS
John        NaN  10.0    MSIS

Sorting by more columns. For example, by hw1 descending and, in case of ties, by hw2 ascending

In [60]:
df.sort_values(by=['hw1', 'hw2'], ascending=[False, True])

            hw1   hw2 program
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Jenny       8.0   NaN     NaN
Luci        7.0   7.0    MSIS
Jeannine    6.0   7.0    MSIS
Michael     6.0  10.0     MBA
Mercy       5.0   6.0    MSIS
Demetria    2.0   4.0    MSIS
Iluminada   2.0   NaN     MBA
Shelby      1.0  10.0    MSIS
John        NaN  10.0    MSIS

## sort_index

In [61]:
df.sort_index()

            hw1   hw2 program
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS
Jenny       8.0   NaN     NaN
John        NaN  10.0    MSIS
Luci        7.0   7.0    MSIS
Mercy       5.0   6.0    MSIS
Michael     6.0  10.0     MBA
Shelby      1.0  10.0    MSIS

## head and tail

Returns the first (or last) n rows

In [62]:
df.head()

            hw1   hw2 program
Demetria    2.0   4.0    MSIS
Dorian     10.0  10.0    MSIS
Garland     9.0   1.0    MSIS
Iluminada   2.0   NaN     MBA
Jeannine    6.0   7.0    MSIS

In [63]:
df.tail()

         hw1   hw2 program
John     NaN  10.0    MSIS
Luci     7.0   7.0    MSIS
Mercy    5.0   6.0    MSIS
Michael  6.0  10.0     MBA
Shelby   1.0  10.0    MSIS

## Problems

Sort the MSIS students by hw2 descending.

In [64]:
df.program == 'MSIS'

Demetria      True
Dorian        True
Garland       True
Iluminada    False
Jeannine      True
Jenny        False
John          True
Luci          True
Mercy         True
Michael      False
Shelby        True
Name: program, dtype: bool

In [65]:
df.ix[df.program == 'MSIS',:].sort_values(by='hw2',ascending=False)

           hw1   hw2 program
Dorian    10.0  10.0    MSIS
John       NaN  10.0    MSIS
Shelby     1.0  10.0    MSIS
Jeannine   6.0   7.0    MSIS
Luci       7.0   7.0    MSIS
Mercy      5.0   6.0    MSIS
Demetria   2.0   4.0    MSIS
Garland    9.0   1.0    MSIS

Show <b>only</b> the field <i>hw1</i> of the four students with the largest hw2 grade (do not use nlargest on the dataframe... it has bugs)

In [66]:
df.sort_values(by='hw2',ascending=False).ix[:4,'hw1']

Dorian     10.0
John        NaN
Michael     6.0
Shelby      1.0
Name: hw1, dtype: float64

## mean, min, max, etc

Aggregate functions are broadcasted to all columns (axis = 0, which is the default) or rows (axis = 1). Numeric aggregators will be executed only on numeric data.

The average for each hw

In [67]:
df.mean(axis = 0)

hw1    5.600000
hw2    7.222222
dtype: float64

The average for each student

In [68]:
df.mean(axis = 1)

Demetria      3.0
Dorian       10.0
Garland       5.0
Iluminada     2.0
Jeannine      6.5
Jenny         8.0
John         10.0
Luci          7.0
Mercy         5.5
Michael       8.0
Shelby        5.5
dtype: float64

## Problems

Compute the spread (i.e., highest minus lowest grade) of each student

In [77]:
hwonly = df.ix[:,:2]

In [79]:
hwonly.max(axis=1) - hwonly.min(axis =1)

Demetria     2.0
Dorian       0.0
Garland      8.0
Iluminada    0.0
Jeannine     1.0
Jenny        0.0
John         0.0
Luci         0.0
Mercy        1.0
Michael      4.0
Shelby       9.0
dtype: float64

In [76]:
df.max() # find x= 0

hw1          10
hw2          10
program    MSIS
dtype: object

df.max(axis = 1)

Who has the largest spread?